# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/2AHME/ue03_taschenrechner/build/
/2AHME/ue03_taschenrechner/dist/
/2AHME/ue_05_Einkommenssteuer/build/
/2AHME/ue_05_Einkommenssteuer/dist/
/2AHME/Übung1/build/
/2AHME/Übung1/dist/
/2AHME/Übung2.1/build/
/2AHME/Übung2.1/dist/
/2AHME/Übung2.2/build/
/2AHME/Übung2.2/dist/
/2AHME/Übung2.3/dist/
/2AHME/Übung2.3/build/
/2AHME/ue06_schleifen/dist/
/2AHME/ue06_schleifen/build/
/2AHME/ue07_spannungsteiler/build/
/2AHME/ue07_spannungsteiler/dist/
/2AHME/ue08_funktionen/dist/
/2AHME/ue08_funktionen/build/
/2AHME/ue09_spannungsteiler2/build/
/2AHME/ue09_spannungsteiler2/dist/
/2AHME/ue10_funktionen/build/
/2AHME/ue10_funktionen/dist/
/2AHME/ue11_Funktionen/build/
/2AHME/ue12_Stern-Dreieck-Transformation/build/
/2AHME/ue12_Stern-Dreieck-Transformation/dist/
/2AHME/ue14_Felder/build/
/2AHME/ue15_kleines-1x1/build/
/2AHME/ue15_kleines-1x1/dist/
/2AHME/ue13_random-numbers/build/
/2AHME/ue13_random-numbers/dist/
/3AHME/ue01_RechnenMitBrüchen/build/
/3AHME/ue01_RechnenMitBrüchen/dist/
/3AHME/UE18_EKG/build/
/3AHME/UE18_EKG/dist/
/2AHME/UE19_Felder/dist/
/2AHME/UE19_Felder/build/