# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/2AHME/ue03_taschenrechner/build/
/2AHME/ue03_taschenrechner/dist/
/2AHME/ue_05_Einkommenssteuer/build/
/2AHME/ue_05_Einkommenssteuer/dist/
/2AHME/Übung1/build/
/2AHME/Übung1/dist/
/2AHME/Übung2.1/build/
/2AHME/Übung2.1/dist/
/2AHME/Übung2.2/build/
/2AHME/Übung2.2/dist/
/2AHME/Übung2.3/dist/
/2AHME/Übung2.3/build/
/2AHME/ue06_schleifen/dist/
/2AHME/ue06_schleifen/build/